 @font-face {
   font-family: 'ubuntu';
   src: url('img/font/Ubuntu-Regular.ttf') format('truetype');
   /* Přidejte další varianty fontu */
   src: url('img/font/Ubuntu-Bold.ttf') format('truetype');
   src: url('img/font/Ubuntu-Italic.ttf') format('truetype');
   src: url('img/font/Ubuntu-Medium.ttf') format('truetype');
 }

 /*index.page style*/
 body {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 80%;
   height: 100dvh;
   margin: 1% 10%;
   background-image: url('img/view-tasty-sweet-glazed-donuts.jpg');
   background-size: cover;
   background-repeat: no-repeat;
 }

 .kyberMise {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 80%;
   margin: 3% 10%;
   background-color: #ffffffae;
   padding: 3% 3%;
   border-radius: 5%;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 header {
   color: rgb(255, 255, 255);
   background-color: #361d04a5;
   text-shadow: 2px 2px 5px #e29e2bc7;
   border-radius: 70%;
 }

 * {
   font-family: 'ubuntu', sans-serif;
 }

 .goal {
   color: #d65338;
   font-size: larger;
 }

 a.btn,
 .btnLogin {
   background-color: #63b769;
   border: 2px;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   border-radius: 5%;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }


 footer {
   background-color: #361d04a5;
   color: rgb(255, 255, 255);
   display: grid;
   justify-items: center;
   width: 100dvw;
 }

 .homeBtn {
   text-decoration: none;
 }

 .homeBtn button {
   padding: 10px 20px;
   font-size: 1em;
   background-color: white;
   color: #4CAF50;
   border: 2px solid #4CAF50;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s, color 0.3s;
 }

 .homeBtn button:hover {
   background-color: #4CAF50;
   color: white;
 }

 .imgCR {
   width: 120px;
 }


 /*login page*/

 .loginPage {
   height: 80dvh;

   background-color: #ffffffae;
   padding: 3% 3%;
   border-radius: 5%;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .container {
   padding-bottom: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 label {
   font-size: 20px;
   padding-bottom: 10%
 }

 #loginForm {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   background-color: #d38d28a6;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 #loginForm label {
   margin-bottom: 10px;
   font-size: 1.2em;
 }

 #loginForm input {
   margin-bottom: 20px;
   padding: 10px;
   font-size: 1em;
   width: 100%;
   box-sizing: border-box;
 }

 .btnLogin {
   padding: 10px 20px;
   font-size: 1em;
   background-color: #4caf50;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   margin-top: 20px;
 }

 .btnLogin:hover {
   background-color: #45a049;
 }

 /*email page style*/
 .header {
   display: flex;


 }

 #desktop {
   background-color: #ffffffae;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-content: center;
 }


 .icon {
   width: 100px;
   height: 100px;
   margin: 20px;
   cursor: pointer;
 }

 .icon img {
   width: 100%;
   height: 100%;
 }

 /*resetpassword*/
 .container {
   max-width: 400px;
   margin: 5% auto;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
   background-color: #f9f9f9;
 }

 h1 {
   font-size: 24px;
   margin-bottom: 20px;
 }

 form {
   display: flex;
   flex-direction: column;
 }

 label {
   margin-bottom: 8px;
 }

 input[type="password"] {
   padding: 8px;
   margin-bottom: 16px;
   border: 1px solid #ccc;
   border-radius: 5px;
 }

 meter {
   width: 100%;
   height: 10px;
   margin-bottom: 16px;
 }

 #strength-display {
   margin-bottom: 16px;
 }

 button[type="submit"] {
   padding: 10px 20px;
   background-color: #4caf50;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }

 button[type="submit"]:hover {
   background-color: #0056b3;
 }

 button[type="submit"]:disabled {
   background-color: #ccc;
   cursor: not-allowed;
 }


 /* Modal styling */
 .modal {
   display: none;
   position: fixed;
   z-index: 1;
   padding-top: 60px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0, 0, 0);
   background-color: rgba(0, 0, 0, 0.4);
 }

 .modalContent {
   background-color: #fefefe;
   margin: 5% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
 }

 .modal-content {
   background-color: #fefefe;
   /* Bílé pozadí pro obsah */
   margin: 15% auto;
   /* Nastavuje okno do středu vertikálně a horizontálně */
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
   /* Šířka obsahu */
   max-width: 600px;
   /* Maximální šířka obsahu */
   border-radius: 10px;
   /* Zaoblené rohy */
   position: relative;
 }

 /* Styl pro tlačítko zavření */
 .close {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 24px;
   cursor: pointer;
 }

 .close:hover {
   color: red;
   /* Barva textu se změní na červenou při najetí myší */
 }

 .close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }

 .close:hover,
 .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }

 /* Styl pro modální okno */
 .modal {
   display: none;
   /* Skryje modální okno */
   position: fixed;
   z-index: 1;
   /* Zajišťuje, že modální okno bude nad všemi ostatními prvky */
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   /* Přidá scrollování, pokud je obsah příliš velký */
   background-color: rgba(0, 0, 0, 0.4);
   /* Přidá poloprůhledné černé pozadí */
 }

 /* Styl pro obsah modálního okna */
 .modal-content {
   background-color: #fefefe;
   /* Bílé pozadí pro obsah */
   margin: 15% auto;
   /* Nastavuje okno do středu vertikálně a horizontálně */
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
   /* Šířka obsahu */
   max-width: 600px;
   /* Maximální šířka obsahu */
   border-radius: 10px;
   /* Zaoblené rohy */
   position: relative;
 }

 /* Styl pro tlačítko zavření */
 .close {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 24px;
   cursor: pointer;
 }

 .close:hover {
   color: red;
   /* Barva textu se změní na červenou při najetí myší */
 }

 /* Tab styling */
 .tab {
   display: flex;
   background-color: #f1f1f1;
   padding: 10px;
   flex-direction: row;
   justify-content: space-around;
   align-items: flex-start;
 }

 .tab button {
   background-color: inherit;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 10px 20px;
   transition: background-color 0.3s;
 }

 .tab button:hover {
   background-color: #ddd;
 }

 .tab button.active {
   background-color: #ccc;
 }

 h2 {
   color: #4CAF50;
   padding-left: 40%;
 }

 /* Email content styling */
 .email {
   display: none;
   padding: 20px;
   border-top: none;
 }

 #emailIcon {
   width: 70px;
   height: 70px;
 }
